*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/* COLOR nav #e0a680 */
/* COLOR links #afc6ac */
/* COLOR boton #62a7c1 */
/* #afc6ac */

body{
    font-family: 'Roboto', sans-serif ;
}

h1, h2, h3,  h4, h5, h6 {
    color: #afc6ac;
    font-weight: 300;
}

.contenedor{
    width: 80%;
    margin: auto;
}

button{
    background-color: #62a7c1 !important;
}

/*NAV*/


nav{
    width: 100%;
    background-color: #e0a680;
    height: 80px;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);      /*Sombra para separar navs*/
    transition: ease-in-out 0.5s;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: .5px solid #c5a164;

}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px 5px 40px;

}

.nav .logo{
    height: 80px;
}
.nav p{
    font-size: 1.4rem;
    color: white;
    margin: 0;
    padding-left: 2rem;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.contenido-header{
    margin-top: 80px;
}

.nav .enlaces-header a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 550 ;
}
.nav .enlaces-header a:hover{
    color: #62a7c1;
}

.hamburguer{
    width: 80px;
    height: 80px;
    text-align: center;
    display: none;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}

.portada{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.contenido-header > img{
    width: 65rem;
}


/* PORTADA */

.portada{
    min-height: 100vh;
}
.fotoheader{
    max-width: 40%;
}
.textos-header{
    margin: auto;
    color: black;
    font-size: 1.7rem;
    margin-left: 5rem;
}
.textos-header h1{
    color: #afc6ac;
    font-size: 4rem;
}


/* primerpaso */
.conoceme{
    background-color: #fff;
    color: black;
    padding-bottom: 2rem;
}
.conocemetexto{
    padding: 4rem 1rem 0 0;
}
.imgdaiconoceme{
    max-width: 60%;
    border-radius: 1rem;
}
.contenedorconocemetexto{
    max-width: 90%;
    font-size: 1.6rem;
}
.contenedorconocemetexto ul li{
    margin-left: 2.5rem;
    list-style-type:circle
    
}
.imgconoceme{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkturnolista{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.textoclick{
    color: blue;
}

/* CONOCEME */
#conoceme{
    background-color: #7d8f7b;
}
#conoceme h2{
    padding-top: 3rem;
}
.conocemetextos{
    font-size: 1.4rem;
}
.conocemetextos p{
    padding: 1rem 2rem;
    color: white;
    padding-bottom: 3rem;
    padding-right: 6rem;
}
.videodai{
    width: 22%;
    padding-bottom: 3rem;
    margin-right: 6rem;
}

/* TURNOS */

.turnos{
    padding-bottom: 4rem ;
    padding-top: 2rem ;
    background-color: #f6f3e3;
}
.turnotitulo{
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
}
.imgturnos{
    max-width: 40%;
}
.textoturnos{
    max-width: 90%;
    font-size: 1.6rem;
    margin: auto;
    padding: 3rem;
}
.textoturnos button{
    margin-top: 2rem;
}
.btnturno{
    text-decoration: none;
}


/* Ebook */
.ebook{
    padding-bottom: 4rem ;
    padding-top: 4rem ;
    background-color: #fff;
}
.contenedorEbook{
    padding-bottom: 1rem;
}
.imgebook{
    max-width: 30%;
}
.textoEbook{
    max-width: 90%;
    font-size: 1.6rem;
    margin: auto;
    padding: 2rem;
}
.textoEbook button{
    margin-top: 2rem;
}
.tituloEbook{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #e0a680;
    font-weight: 500;
}

/* Cafecito */
.cafecito{
    background-color: #7d8f7b;
}
.cafecitoTexto{
    font-size: 1.2rem;
    padding: 2rem 2rem 0rem 2rem;
    color: black;
    margin: 0;
}
.cafecitoTexto p{
    margin-right: 2rem;
    padding-top: .5rem;
}

/* Taller */
.taller{
    background-color: #f6f3e3;
    padding-bottom: 4rem ;
    padding-top: 4rem ;
}
.textotaller{
    max-width: 90%;
    font-size: 1.6rem;
    margin: auto;
    padding: 3rem;
    padding-top: 0;
    padding-bottom: 1rem;
}
.textotaller button{
    margin-top: 2rem;
}
.grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 1.5rem;
    row-gap: 2rem; 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grid-item {
    text-align: center; 
    padding: 1rem;
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 4px; 
    object-fit: cover; 
}
.grid-item h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
}
.listaEspera{
    font-size: .9rem;
    color: gray;
}
.grid-item a {
    text-decoration: none;
}

/* CONTACTO */

.contacto{
    padding: 4rem 0;
    background-color: #7d8f7b;
}
.contactotitulo{
    padding-bottom: 2rem;
    font-size: 3rem;
    color: white;
}
.introcontacto{
    max-width: 90%;
    font-size: 1.6rem;
    color: white;
}
.introcontacto a{
    text-decoration: none;
    color: white;
    background-color: #e0a680;
}
.contenedorcontacto{
    margin: 0;
    padding-top: 2rem;
    text-align: right;
    font-size: 1.3rem;
}

.formcontacto{
    text-align: left;
    padding: 2rem 6rem;
    margin-left: 3rem;
    border: 2px solid white;
    border-radius: 10px;
}
.contactodatos{
    color: white;
}

/* FOOTER */
footer{
    background-color: #e0a680;
    color: white;
    padding: .3rem 5rem;
}
footer a{
    color: white;
    text-decoration: none;
}

.whatsapp {
    position:fixed;
    width:70px;
    height:70px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
    box-shadow: 2px -2px rgba(0, 0, 0, 0.081);
}

.whatsapp-icon {
    margin-top:13px;
}






@media screen and (max-width:600px) {
    *{
        max-width: 100%;
    }
    .titulo{
        font-size: 35px;
    }
    .contenedor{
        width: 90%;
        margin: auto;
    }
    h1{
        font-size: 2.5rem !important;
    }
    h2{
        font-size: 2rem !important;
    }
    p{
        font-size: 1.1rem !important;
    }

    .contenido-header{
        height: 650px;
    }

    .nav{
        border-bottom: .5px solid #c5a164;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .navcontenedor{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .titulonav{
        display: none;
    }
    .contenido-header img{
        width: 200px;
    }

    .enlaces-header{
        position: fixed;
        background-image: linear-gradient(to top, #62a7c1, #e0a680 100%);
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0% at 100% 0);
        transition: ease-in-out .5s;
    }

    .nav .menuDos{
        clip-path: circle(141.4% at 100% 0);
    }

    .nav .enlaces-header a{
        color: #fff ;
    }

    .hamburguer{
        display: block;
    }


    /*HEADER*/

    .portada{
        max-height: 70vh;
    }
    .contenido-header{
        display: inline-block !important;
    }
    .fotoheader{
        display: block;
        max-width: 100%;
        margin: auto;
    }
    .textos-header{
        margin: auto;
        padding: 0;
        padding-bottom: 2rem !important;
    }
    .textos-header h1{
        font-size: 2rem;
    }
    .textos-header p{
        font-size: 1.3rem;
    }


    /*PRIMER PASO*/
    .primerpaso{
        display: block !important;
    }
    .contenedorconocemetexto{
        display: inline;
        font-size: 1.2rem;
    }
    .imgconoceme{
        padding: 1rem;
    }
    .conocemetexto{
        padding: 1.5rem;
    }


    /*CONOCEME*/
    .conocemetextos{
        display: inline !important;
        font-size: 1.1rem;
    }
    .conocemetextos p{
        padding: 0;
        padding-bottom: 2rem;
    }
    .videodai{
        width: 70%;
        display: block;
        margin: auto;
        padding: auto;
    }

    
    /*TURNOS*/
    .turnos{
        padding-top: 2rem;
    }
    .contenedorturnos{
        display: block !important;
    }
    .textoturnos{
        max-width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }
    .imgturnos{
        display: block;
        max-width: 80%;
        margin: auto;
        padding-bottom: 2rem;
    }
    .btnturno{
        display: block;
        margin: auto;
    }
    .enlacebtnturno{
        display: block;
        margin: auto;
        text-decoration: none;
    }

    /* Ebook */
    .contenedorEbook{
        display: block !important;
    }
    .textotaller{
        max-width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }
    .imgebook{
        display: block;
        max-width: 70%;
        margin: auto;
        padding-bottom: 2rem;
    }
    .textoEbook{
        padding: 1rem;
    }
    .tituloEbook{
        padding: 0 2rem;
        font-size: 1.5rem;
    }
    .cafecitoTexto{
        display: block !important;
        padding: 0;
    }
    .cafecitoTexto p{
        font-size: 1rem !important;
        margin: auto;
        padding: 1.5rem;
    }
    .cafecitoTexto a{
        display: flex;
        justify-content: center;
    }

    /* TALLER */
    .textotaller{
        max-width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }
    .imgtaller{
        padding-top: 2rem;
    }
    .grid-container{
        display: block;
    }
    .grid-item h2 {
        margin-top: 1rem;
        font-size: 1rem!important;
    }

    /* CONTACTO */
    .contacto{
        padding-top: 2rem;
    }
    .contenedorcontacto{
        text-align: right;
        display: block !important;
    }
    .contactodatos{
        text-align: center;

    }

    .whatsapp {
        position:fixed;
        width:50px;
        height:50px;
        bottom:30px;
        right:30px;
        background-color:#25d366;
        color:#FFF;
        border-radius:40px;
        text-align:center;
        font-size:30px;
        z-index:100;
    }
    
    .whatsapp-icon {
        margin-top:10px;
    }
    

    /* FOOTER */
    .footer{
        display: block !important;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .footer p{
        font-size: 0.8rem !important;
    }

}